@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400&family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive, sans-serif;
}

p {
  font-family: 'IBM Plex Serif', serif, sans-serif;
}

header {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72
  );
}

.header__container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.header__heading {
  color: #fff;
  font-size: 52px;
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px 0 60px 0;
  background-color: rgb(245, 245, 245);
}

#chrystal-ball:hover {
  cursor: pointer;
}

.user-name__container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 16px;
  align-items: center;
}

.user-name__container--hidden {
  display: none;
}

.user-name__paragraph {
  font-size: 24px;
  font-weight: 700;
}

.user-name__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user-name__input {
  padding: 8px 12px;
}

.user-name__submit {
  padding: 8px 12px;
  background-color: #004d7a;
  color: #fff;
  font-family: 'IBM Plex Serif', serif, sans-serif;
  font-size: 16px;
}

.card__container {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72
  );
}

.card__container--didplay-none {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 30%;
  padding: 60px;
}

.card__heading {
  margin-bottom: 12px;
  font-size: 28px;
}

.card__paragraph {
  font-size: 18px;
  text-align: center;
}
